{% extends 'template/layouts/base_admin.html.twig' %}

{% block title %}Categories Index
{% endblock %}

{% block content %}
    <main class="">
        <div class="container-fluid px-4">
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-category d-flex justify-content-between">
                            <h4>Categories List</h4>
                            <a href="{{ base_path }}admin/categories/create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add Category</a>
                        </div>
                        <div class="card-body">
                            {% if errors %}
                                <div class="alert alert-danger" role="alert">
                                    <ul class="errors-list">
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if indexCategories is empty %}
                                <div class="alert alert-danger show" role="alert">
                                    <h4 class="text-center"><i class="bi bi-exclamation-triangle-fill"></i> Categories list is empty !</h4>  
                                </div>    
                            {% else %} 
                                <div class="table-responsive-xl">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                            {% set columns = [
                                                {'column': 'id', 'label': '#'},
                                                {'column': 'name_category', 'label': 'Name'},
                                                {'column': 'post_count', 'label': 'Related Posts'}
                                            ] %}
                                            {% for col in columns %}
                                                <th scope="col" class="sortable" data-column="{{ col.column }}" data-order="{{ sortColumn == col.column ? sortOrder : 'desc' }}">
                                                    <a href="?sortColumn={{ col.column }}&sortOrder={{ sortOrder == 'asc' ? 'desc' : 'asc' }}">{{ col.label }}
                                                        <span class="sort-icon default" style="{{ sortColumn == col.column ? 'display: none;' : '' }}"><i class="bi bi-chevron-expand"></i></span>
                                                        <span class="sort-icon asc" style="{{ sortColumn == col.column and sortOrder == 'asc' ? 'display: inline;' : 'display: none;' }}"><i class="bi bi-chevron-up"></i></span>
                                                        <span class="sort-icon desc" style="{{ sortColumn == col.column and sortOrder == 'desc' ? 'display: inline;' : 'display: none;' }}"><i class="bi bi-chevron-down"></i></span>
                                                    </a>
                                                </th>
                                            {% endfor %}
                                            <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for indexCategory in indexCategories %}
                                                <tr>
                                                    <th scope="row" class="centered-cell" data-column="id">{{ indexCategory.categoryId }}</th>
                                                    <td class="centered-cell">{{ indexCategory.name_category }}</td>
                                                    <td class="centered-cell">{{ indexCategory.post_count }}</td>
                                                    <td class="centered-cell">
                                                        <div class="td-action-links">
                                                            <a href="{{ base_path }}admin/categories/edit/{{ indexCategory.categoryId }}" class="trash text-danger pe-2">Edit</a>
                                                            <span class="inline-divider">|</span>
                                                            <a href="{{ base_path }}admin/categories/delete/{{ indexCategory.categoryId }}" class="edit text-success px-2">Delete</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% embed "template/_partials/_pagination_admin.html.twig" %}
                                    {% set url = 'admin/categories/index?page=' %}
                                {% endembed %}
                            {% endif %}
						</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}