<section class="page-section latest-posts" id="latest-posts">
	<div class="container">
		<h2 class="page-section__heading text-center">Latest posts</h2>
		<!-- Icon Divider-->
		<div class="separator-block separator-light w-100">
			<div class="separator-block__line separator-block__line--dark"></div>
			<div class="separator-block__icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="separator-block__line separator-block__line--dark"></div>
		</div>
		<div class="row">
			<div class="col-12 d-flex justify-content-end">
				<a href="{{ base_path}}posts">
					<h5 class="link-post">View all</h5>
				</a>
			</div>
		</div>
		<div class="row mt-1">
			{% for post in posts|slice(0, 3) %}
				<div class="col-lg-4 col-md-6 mb-sm-4">
					<div class="card card-blog shadow h-100 d-flex flex-column">
						<div class="blog-image">
							<img src="{{ base_path }}public/upload/{{ post.post_image }}" class="card-img-top fixed-height">
							<div class="blog-date">{{ post.updated_at_post|date('j') }}</br>{{ post.updated_at_post|date('F')|slice(0, 3) }}</div>
							<a href="{{ base_path }}category/{{ post.slug_category }}" class="blog-category-link">
								<span class="blog-category">{{ post.name_category }}</span>
							</a>
						</div>
						<div class="blog-body flex-grow-1">
							<div class="blog-post my-2 d-flex justify-content-between">
								<span>
									<i class="bi bi-clock-fill"></i>
									{{ post.time_elapsed }}</span>
								<span>
									<i class="bi bi-chat-fill"></i>
									{{ post.total }}</span>
							</div>
							<div class="blog-title">{{ post.title |raw}}</div>
							<p class="blog-start">{{ post.post_content|truncate_words(30)|raw }}
								<a href="{{ base_path }}postsingle/{{ post.slug_post }}" class="more-link fw-bold">Read More</a>
							</p>
						</div>
						<div class="blog-footer mt-auto">
							<div class="blog-avatar">
								<img src="{{ base_path }}public/upload/avatar/{{ post.profile_picture}}">
							</div>
							<div>
								<a href="{{ base_path }}user/{{ post.slug_username }}">
									<span class="blog-author">{{ post.username }}</span>
								</a>
							</div>
							<button class="btn btn-sm">
								<i class="bi bi-share-fill"></i>
							</button>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<style>
	.fixed-height {
    height: 250px; /* Vous pouvez ajuster cette hauteur selon vos besoins */
    object-fit: cover;
    width: 100%;
}
</style>
