<div class="offcanvas offcanvas-start text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-body p-0">
		<nav>
			<div class="d-flex justify-content-center my-5">
				<img class="masthead__avatar" src="{{ base_path }}public/img/avatar.png" alt="avatar" width="90">
			</div>
			<ul class="navbar-nav">
				<li>
					<a href="{{ base_path }}admin/dashboard" class="nav-link px-3 active">
						<span class="me-2">
							<i class="bi bi-speedometer2"></i>
						</span>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="my-1">
					<hr class="bg-white mx-3">
				</li>
				<li>
					<a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapsePosts" role="button" aria-expanded="false" aria-controls="collapseExample">
						<span class="me-2">
							<i class="bi bi-pencil"></i>
						</span>
						<span>Posts</span>
						<span class="right-icon ms-auto">
							<i class="bi bi-chevron-down"></i>
						</span>
					</a>
					<div class="collapse" id="collapsePosts">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="{{ base_path }}admin/posts/index" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-pencil"></i>
										</span>
										<span>List</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="collapse" id="collapsePosts">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="{{ base_path }}admin/posts/create" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-pencil"></i>
										</span>
										<span>Create</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseComments" role="button" aria-expanded="false" aria-controls="collapseExample">
						<span class="me-2">
							<i class="bi bi-chat"></i>
						</span>
						<span>Comments</span>
						<span class="right-icon ms-auto">
							<i class="bi bi-chevron-down"></i>
						</span>
					</a>
					<div class="collapse" id="collapseComments">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="#" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-chat"></i>
										</span>
										<span>Nested Link</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseCategories" role="button" aria-expanded="false" aria-controls="collapseExample">
						<span class="me-2">
							<i class="bi bi-bookmark"></i>
						</span>
						<span>Categories</span>
						<span class="right-icon ms-auto">
							<i class="bi bi-chevron-down"></i>
						</span>
					</a>
					<div class="collapse" id="collapseCategories">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="{{ base_path }}admin/categories/index" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-bookmark"></i>
										</span>
										<span>List</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="collapse" id="collapseCategories">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="{{ base_path }}admin/categories/create" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-bookmark"></i>
										</span>
										<span>Create</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseTags" role="button" aria-expanded="false" aria-controls="collapseExample">
						<span class="me-2">
							<i class="bi bi-tags"></i>
						</span>
						<span>Tags</span>
						<span class="right-icon ms-auto">
							<i class="bi bi-chevron-down"></i>
						</span>
					</a>
					<div class="collapse" id="collapseTags">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="{{ base_path }}admin/tags/index" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-tags"></i>
										</span>
										<span>List</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="collapse" id="collapseTags">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="{{ base_path }}admin/tags/create" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-pencil"></i>
										</span>
										<span>Create</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			<!--<li class="my-1">
					<hr class="bg-white mx-3">
				</li>
				<li>
					<a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseProjects" role="button" aria-expanded="false" aria-controls="collapseExample">
						<span class="me-2">
							<i class="bi bi-folder2-open"></i>
						</span>
						<span>Projects</span>
						<span class="right-icon ms-auto">
							<i class="bi bi-chevron-down"></i>
						</span>
					</a>
					<div class="collapse" id="collapseProjects">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="#" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-folder2-open"></i>
										</span>
										<span>Nested Link</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>-->
				<li class="my-1">
					<hr class="bg-white mx-3">
				</li>
				<li>
					<a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseAccounts" role="button" aria-expanded="false" aria-controls="collapseExample">
						<span class="me-2">
							<i class="bi bi-people"></i>
						</span>
						<span>Accounts</span>
						<span class="right-icon ms-auto">
							<i class="bi bi-chevron-down"></i>
						</span>
					</a>
					<div class="collapse" id="collapseAccounts">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="#" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-people"></i>
										</span>
										<span>Nested Link</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseRoles" role="button" aria-expanded="false" aria-controls="collapseExample">
						<span class="me-2">
							<i class="bi bi-person-gear"></i>
						</span>
						<span>Roles</span>
						<span class="right-icon ms-auto">
							<i class="bi bi-chevron-down"></i>
						</span>
					</a>
					<div class="collapse" id="collapseRoles">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="#" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-person-gear"></i>
										</span>
										<span>Nested Link</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="my-1">
					<hr class="bg-white mx-3">
				</li>
				<li>
					<a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseMedia" role="button" aria-expanded="false" aria-controls="collapseExample">
						<span class="me-2">
							<i class="bi bi-images"></i>
						</span>
						<span>Media Library</span>
						<span class="right-icon ms-auto">
							<i class="bi bi-chevron-down"></i>
						</span>
					</a>
					<div class="collapse" id="collapseMedia">
						<div>
							<ul class="navbar-nav ps-3">
								<li>
									<a href="#" class="nav-link px-3">
										<span class="me-2">
											<i class="bi bi-images"></i>
										</span>
										<span>Nested Link</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</div>